.auth-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/25/48/bf/2548bf6970f74d0d9594e17b72bc2037.gif');
  background-size: cover;
  background-position: center;
}

.auth-container {
  margin-top: 150px;
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  opacity: 0;
  animation: fadeIn 0.6s forwards ease-out;
}

.auth-container h1 {
  text-align: center;
  color: var(--color-500);
}

.auth-container form {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 25px;
  padding: 25px 0;
  width: 300px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 25px;
  gap: 5px;
  width: 100%;
}

.input-container input {
  background-color: rgba(255, 255, 255, 0.068);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1em;
  padding: 11px;
  color: var(--color-100);
  width: 100%;
}

.input-container input:focus {
  outline: 1px solid var(--color-700);
}

.auth-container form button {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 25px;
  width: 250px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--color-500);
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.auth-container form button:hover {
  background-color: var(--color-700);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
