main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.auth-container {
  position: relative;
}

.auth-container h1 {
  position: absolute;
  top: -100px;
  width: 100%;
  text-align: center;
}

form {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 25px;
  padding: 25px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 25px;
}
