.calendar-section {
  margin: 124px auto;
  width: max-content;
}

.habit-selector {
  width: 100%;
}

.habit-selector select {
  font-size: 16px;
  font-weight: 500;
  width: 200px;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.habit-selector.dark select {
  color: #bbb;
  background-color: #212121;
  border: 1px solid #555;
}

.habit-selector.light select {
  color: #444;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.habit-selector select option {
  font-family: 'Inter';
}

.calendar-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.month-selector {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  border: 1px solid #333;
  transition: 0.3s ease;
}

.month-selector.dark {
  background-color: #151514;
}

.month-selector.light {
  background-color: #f5f1e4;
}

.month {
  text-align: center;
}

.month h2 {
  font-size: 20px;
  font-weight: 600;
}

.month p {
  font-size: 16px;
  font-weight: 500;
}

.month.dark h2,
.month.dark p {
  color: whitesmoke;
}

.month.light h2,
.month.light p {
  color: #222;
}

.month-selector-btn {
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  padding: 1px;
}

.month-selector-btn svg {
  transition: 0.3s ease;
}

.month-selector-btn.dark svg {
  stroke: #8899a4;
}

.month-selector-btn.light svg {
  stroke: #666;
}

.month-selector-btn.dark svg:hover {
  stroke: #4a5156;
}

.month-selector-btn.light svg:hover {
  stroke: #333;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 0 0 10px 10px;
  padding: 5px;
  transition: 0.3s ease;
}

.calendar.dark {
  background-color: #151514;
  color: whitesmoke;
}

.calendar.light {
  background-color: #f5f1e4;
  color: #222;
}

.day-name {
  font-size: 14px;
  font-weight: 600;
}

.day-name.dark {
  color: #555;
}

.day-name.light {
  color: #999;
}

.day-cell {
  font-size: 14px;
  font-weight: 500;
  display: grid;
  border-radius: 0;
  place-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.day-cell.blank {
  background-color: transparent;
  border: none;
}

.day-cell.today {
  border-radius: 20px;
}

.day-cell.dark.today {
  border: 2px solid #999;
}

.day-cell.light.today {
  border: 2px solid #333;
}

.day-cell.dark.completed {
  background-color: var(--color-800);
}

.day-cell.light.completed {
  background-color: var(--color-300);
}

.day-cell.completed-start {
  border-radius: 15px 0 0 15px;
}

.day-cell.completed-end {
  border-radius: 0 15px 15px 0;
}

.day-cell.completed-middle {
  border-radius: 0;
}

.day-cell.completed-single {
  border-radius: 15px;
}

.today-btn {
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.today-btn.dark {
  color: #bbb;
  background-color: #212121;
  border: 1px solid #555;
}

.today-btn.light {
  color: #555;
  background-color: #eae7df;
  border: 1px solid #b8b2a3;
}

.today-btn.dark:hover {
  background-color: #333;
}

.today-btn.light:hover {
  background-color: #d6d3ca;
}
