.dashboard-section {
  margin: 50px auto;
  padding: 50px 0;
  border-radius: 10px;
  width: 80%;
  max-width: 430px;
  position: relative;
  z-index: 5;
  transition: 0.3s ease;
}

.dashboard-section.dark {
  background-color: #151514;
}

.dashboard-section.light {
  background-color: #f5f1e4
}

.dashboard-section h2 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 45px;
  transition: 0.3s ease;
}

.dashboard-section.dark h2 {
  color: #d3d3d3;
}

.dashboard-section.light h2 {
  color: #222;
}

.habits-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  max-width: 280px;
}

.habit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.habit-container.dark {
  border: 1px solid #aaa;
  color: whitesmoke;
}

.habit-container.light {
  border: 1px solid #35332f;
  color: #222;
  background-color: #fff;
}

.habit-container.completed {
  cursor: default;
}

.habit-container.completed.dark {
  opacity: 0.2;
}

.habit-container.completed.light {
  opacity: 0.4;
}

.habit-container.dark:hover {
  background-color: #c08a0b14;
}

.habit-container.light:hover {
  background-color: #f0e4c6;
}

.habit-container.completed:hover {
  background-color: unset;
}
.habit-container h3,
.habit-container p {
  font-size: 16px;
  font-weight: 500;
}

.streak {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sparks-wrapper {
  position: fixed;
  bottom: -95px;
  left: 20px;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}

.sparks-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
