.habits-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.habit-container {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 0 20px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.habit-container.completed {
  opacity: 0.5;
  cursor: auto;
}

.streak {
  display: flex;
  align-items: center;
  gap: 5px;
}
