.dashboard-section {
  margin: 124px auto;
  padding: 50px 0;
  border-radius: 10px;
  background-color: #151514;
  width: 50%;
  max-width: 430px;
  position: relative;
  z-index: 5;
}

.dashboard-section h2 {
  font-size: 2em;
  padding-bottom: 45px;
  color: lightgray
}

.habits-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.habit-container {
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  padding: 0 20px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.habit-container.completed {
  opacity: 0.2;
  cursor: default;
}

.habit-container:hover {
  background-color: #c08a0b14;
}

.habit-container.completed:hover {
  background-color: unset;
}

.streak {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sparks-wrapper {
  position: fixed;
  bottom: -95px;
  left: 20px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}

.sparks-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
