section {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 45px;
  padding: 50px 0;
}

.habits-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.habit-container {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 0 20px;
  height: 50px;
  border-radius: 50px;
}

.streak {
  display: flex;
  align-items: center;
  gap: 5px;
}
