.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.fade-in.show {
  opacity: 1;
}

.fade-out {
  position: fixed;
  inset: 0;
  background-color: #080808;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
  z-index: 50;
}

.fade-out.show {
  opacity: 1;
}
