.add-btn-container {
  width: 80%;
  max-width: 250px;
  padding-bottom: 10px;
}

.add-btn-container button {
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: var(--color-500);
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.add-btn-container button:hover {
  background-color: var(--color-700);
}

.habits-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
  max-width: 250px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #1a1a17;
}

.habits-table td {
  font-size: 1.1em;
  padding: 12px;
  cursor: pointer;
}

.habits-table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #aaa;
}

.habits-table td:hover {
  background-color: rgba(255, 255, 255, 0.081);
}

.habit-details-container {
  border: 1px solid white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  font-size: 1.3em;
  padding: 15px;
}

.habit-name {
  display: inline;
}

.habit-details-container button {
  margin: 0 auto;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 1.1em;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
