.habits-section {
  margin: 50px auto;
  width: 100%;
  max-width: 430px;
  padding: 20px 20px 50px;
  border-radius: 10px;
}

.add-btn-container {
  width: 80%;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.add-btn-container button {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
  background-color: var(--color-500);
  color: black;
}

.add-btn-container button:hover {
  background-color: var(--color-700);
}

.habits-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s ease;
}

.habits-table.dark {
  border: 1px solid #aaa;
  background-color: #151514;
  color: whitesmoke;
}

.habits-table.light {
  border: 1px solid #35332f;
  background-color: #f5f1e4;
  color: #111;
}

.habits-table td {
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  cursor: pointer;
}

.habits-table.dark tbody tr:not(:last-child) td {
  border-bottom: 1px solid #aaa;
}

.habits-table.light tbody tr:not(:last-child) td {
  border-bottom: 1px solid #35332f;
}

.habits-table.dark td:hover {
  background-color: #ffffff15;
}

.habits-table.light td:hover {
  background-color: #0000000a;
}

.habit-details-container {
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 50px;
  font-size: 1.3em;
  padding: 70px 30px 30px;
  width: 100%;
  max-width: 400px;
  transition: 0.3s ease;
}

.habit-details-container.dark {
  border: 1px solid #333;
  background-color: #1a1a17;
}

.habit-details-container.light {
  border: 1px solid #35332f;
  background-color: #f5f1e4;
}

.habit-details-table {
  width: 100%;
  border-radius: 10px;
  border-spacing: 0px;
  transition: 0.3s ease;
}

.habit-details-table.dark {
  background-color: #111;
}

.habit-details-table.light {
  border: 1px solid #35332f;
  background-color: #fafafa;
  color: #111;
}

.habit-details-table td {
  padding: 10px 10px;
}

.habit-details-table td:nth-child(1) {
  width: 40%;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-500);
  color: black;
  border-bottom: 1px solid black;
}

.habit-details-table td:nth-child(2) {
  width: 60%;
  text-align: center;
  border-bottom: 1px solid #35332f;
  font-size: 16px;
  font-weight: 400;
}

.habit-name {
  border-radius: 5px;
  height: 33px;
  display: grid;
  place-items: center;
}

.habit-name.dark {
  cursor: url('/light-pencil.svg'), auto;
}

.habit-name.light {
  cursor: url('/dark-pencil.svg'), auto;
}

.habit-name input {
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  text-align: center;
  background-color: transparent;
  border: 1px solid #333;
  caret-color: var(--color-500);
}

.habit-name.dark input {
  color: whitesmoke;
}

.habit-name.light input {
  color: #111;
}

.habit-name input:focus {
  outline: none;
}

.habit-details-container button {
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  font-weight: 600;
}

.btn-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  max-width: 280px;
  margin: 0 auto;
}

.habit-btn {
  font-size: 0.8em;
  padding: 7px;
  width: 100px;
  border: none;
  border-radius: 5px;
}

.habit-btn.dark {
  color: #f5f5f5;
  background-color: black;
}

.habit-btn.light {
  color: #222;
  background-color: #d1c9b7;
}

.habit-btn.dark:hover {
  background-color: #272722;
}

.habit-btn.light:hover {
  background-color: #b7ae9a;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.close-btn.dark {
  background-color: #272722;
  color: #777;
}

.close-btn.light {
  background-color: #d8d4c8;
  color: #5c5c5c;
}

.close-btn.dark:hover {
  background-color: var(--color-800);
  color: black;
}

.close-btn.light:hover {
  background-color: var(--color-600);
  color: #000;
}

.new-habit-btn {
  border: none;
  border-radius: 15px;
  background-color: var(--color-500);
  font-size: 1.2em;
  padding: 5px 20px 5px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 0.3s ease;
  color: #000;
}

.new-habit-btn:hover {
  background-color: var(--color-700);
}

.new-habit-modal {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  animation: blurIn 0.3s forwards;
}

.new-habit-modal.close {
  animation: blurOut 0.3s forwards;
}

.inner-modal {
  text-align: center;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px 0 25px;
  margin-top: 90px;
  position: relative;
  animation: zoomIn 0.3s forwards;
}

.inner-modal.dark {
  border: 1px solid #333;
  background-color: #1a1a17;
}

.inner-modal.light {
  border: 1px solid #ddd;
  background-color: #f5f1e4;
}

.inner-modal.close {
  animation: zoomOut 0.3s forwards;
}

.inner-modal h2 {
  font-size: 24px;
  font-weight: 600;
}

.inner-modal.dark h2 {
  color: whitesmoke;
}

.inner-modal.light h2 {
  color: #111;
}

.input-modal-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 50px;
}

.input-modal-container input {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.input-modal-container.dark input {
  background-color: #ffffff15;
  color: whitesmoke;
  border: 2px solid black;
}

.input-modal-container.light input {
  background-color: #fff;
  color: #111;
  border: 2px solid #ccc;
}

.input-modal-container input:focus {
  outline: none;
}

.input-modal-container button {
  font-size: 16px;
  font-weight: 600;
  padding: 7px;
  cursor: pointer;
  background-color: var(--color-500);
  transition: 0.3s ease;
  border: none;
  border-radius: 5px;
  width: 100px;
  color: black;
}

.input-modal-container button:hover {
  background-color: var(--color-700);
}

.helper {
  border-radius: 10px;
  margin-top: 90px;
  display: flex;
  place-items: center;
  font-size: 13px;
  font-weight: 400;
  padding: 10px;
  gap: 15px;
  opacity: 0;
  animation: fadeIn 0.6s forwards ease-out;
  color: black;
  transition: 0.3s ease;
}

.helper.dark {
  border: 1px solid #333;
  background-color: var(--color-800);
}

.helper.light {
  border: 1px solid #ccc;
  background-color: var(--color-200);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(3px);
  }
}

@keyframes blurOut {
  from {
    backdrop-filter: blur(3px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.6);
  }
}
