.habits-table {
  border-collapse: collapse;
}

.habits-table td {
  border: 1px solid white;
  font-size: 1.3em;
  padding: 10px;
  cursor: pointer;
}

.habits-table tr:first-child {
  text-align: center;
}

.habits-table td:hover {
  background-color: rgba(255, 255, 255, 0.081);
}

.habit-details-container {
  border: 1px solid white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  font-size: 1.3em;
  padding: 15px;
}

.habit-name {
  display: inline;
}

.habit-details-container button {
  margin: 0 auto;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 1.1em;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
