.habits-section {
  margin: 124px auto;
  width: 80%;
  max-width: 400px;
  padding: 20px 20px 50px;
  border-radius: 10px;
}

.add-btn-container {
  width: 80%;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.add-btn-container button {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--color-500);
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.add-btn-container button:hover {
  background-color: var(--color-700);
}

.habits-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #151514;
}

.habits-table td {
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  cursor: pointer;
}

.habits-table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #aaa;
}

.habits-table td:hover {
  background-color: rgba(255, 255, 255, 0.081);
}

.habit-details-container {
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #1a1a17;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 50px;
  font-size: 1.3em;
  padding: 70px 30px 30px;
  width: 100%;
  max-width: 400px;
}

.habit-details-table {
  width: 100%;
  background-color: #111;
  border-radius: 10px;
  border-spacing: 0px;
}

.habit-details-table td {
  padding: 10px 10px;
}

.habit-details-table td:nth-child(1) {
  width: 40%;
  color: black;
  background-color: var(--color-500);
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: 500;
}

.habit-details-table td:nth-child(2) {
  width: 60%;
  text-align: center;
  border-bottom: 1px solid #333;
  font-size: 16px;
  font-weight: 400;
}

.habit-name {
  border-radius: 5px;
  height: 33px;
  display: grid;
  place-items: center;
  cursor: url('/pencil.svg'), auto;
}

.habit-name input {
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  text-align: center;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid #333;
  caret-color: var(--color-500);
}

.habit-name input:focus {
  outline: none;
}

.habit-details-container button {
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  font-weight: 600;
}

.delete-btn {
  font-size: 0.8em;
  padding: 7px;
  width: 100px;
  color: whitesmoke;
  background-color: black;
  border: none;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #272722;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #272722;
  color: #777;
  cursor: pointer;
  transition: 0.3s ease;
}

.close-btn:hover {
  background-color: var(--color-800);
  color: black;
}

.new-habit-btn {
  border: none;
  border-radius: 15px;
  background-color: var(--color-500);
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 20px 5px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 0.3s ease;
}

.new-habit-btn:hover {
  background-color: var(--color-700);
}

.new-habit-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0);
  animation: blurIn 0.3s forwards;
}

.new-habit-modal.close {
  animation: blurOut 0.3s forwards;
}

.inner-modal {
  text-align: center;
  border: 1px solid #333;
  border-radius: 10px;
  width: 350px;
  background-color: #1a1a17;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px 0 25px;
  position: relative;
  animation: zoomIn 0.3s forwards;
}

.inner-modal.close {
  animation: zoomOut 0.3s forwards;
}

.inner-modal h2 {
  font-size: 24px;
  font-weight: 600;
}

.input-modal-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 50px;
}

.input-modal-container input {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.081);
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
}

.input-modal-container input:focus {
  outline: none;
}

.input-modal-container button {
  font-size: 16px;
  font-weight: 600;
  padding: 7px;
  cursor: pointer;
  background-color: var(--color-500);
  transition: 0.3s ease;
  border: none;
  border-radius: 5px;
  width: 100px;
}

.input-modal-container button:hover {
  background-color: var(--color-700);
}

.helper {
  border: 1px solid #333;
  border-radius: 10px;
  margin-top: 90px;
  display: flex;
  place-items: center;
  font-size: 13px;
  font-weight: 400;
  padding: 10px;
  gap: 15px;
  background-color: var(--color-800);
  color: black;
  opacity: 0;
  animation: fadeIn 0.6s forwards ease-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(3px);
  }
}

@keyframes blurOut {
  from {
    backdrop-filter: blur(3px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.6);
  }
}
