header {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px;
  background-color: var(--color-500);
  color: black;
  border-bottom: 2px solid #222;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.menu-btn button {
  border: none;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  background-color: transparent;
  display: grid;
  place-items: center;
}

.app-layout {
  position: relative;
}

.nav-container {
  position: fixed;
  top: 74px;
  display: flex;
  align-items: center;
  transform: translateX(-250px);
  transition: 0.5s ease;
  z-index: 10;
}

.nav-container.opened {
  transform: none;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #303030;
  width: 250px;
  height: calc(100vh - 74.6px);
  padding: 5px 0;
  gap: 6px;
}

nav > a,
nav > button {
  color: #eee;
  text-align: center;
  font-size: 1.3em;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  margin: 0 5px;
  border-radius: 5px;
}

nav > a:hover,
nav > a.active,
nav > button:hover {
  background-color: #383838;
}

nav > button {
  font-size: 1.1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

section {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 50px 0;
  transform: translateY(74px);
}
